body{
	padding: 3px 4px;
  
    
   
    
    background-color: #b6f0ff;
  
	
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
header{	
	background-color: rgb(0, 0, 0);
	color: rgb(112, 96, 26);
}
.website-header{
	padding: 0px;
	height: 170px;
	display: flex;
	flex-wrap: wrap;
}
.website-header img{
	float: left;
	width: 10px;
	height: 50px;	
	margin: 0 10px;
}
.website-header h1{
	margin: auto 490px;
    text-shadow: 1px 1px 1px #ffffff, 1px 1px 1px #ffffff, 1px 1px 1px #ffffff;
    font-size: 38;
}
.social-icons{
	text-align: right;
	flex-grow: 1;
}
.social-icons i{
	margin: 0 7px;
	cursor: pointer;
}
nav{
	background-color: rgb(0, 0, 0);
	height: 100px;
	margin-bottom: 20px;
}
nav ul{
	margin: 15px 0 0 0;
}
.navbar-nav li{
	list-style: none;
	display: inline-block;
	padding: 20px 100px;
    
}
.navbar-nav li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
}
.navbar-nav li a:hover{
	color:#e08b6c;
}
.breaking-news-section{
	padding: 0px 20px 0 120px;
	display: flex;
}
#btext{
	width: 200px;
	font-size: 16px;
	text-transform: uppercase;
	color:#e08b6c;
	font-weight: 600;
	margin: auto 0;
}
.breaking-news{
	padding: 50px;
	color: #fff;
	text-decoration: none;	
	font-weight: 800;
}
.breaking-news:hover,.social-icons i:hover{
	color:#e08b6c;
	cursor: pointer;
}
.bntime{
	display: inline-block;
	color: rgba(255, 255, 255, 0.5);
	padding: 0 10px;
	font-size: 12px;
}
#popular-news{
	display: flex;
	flex-wrap: wrap;
	margin: 22px 700px;
    
}
#popular-news h2{
	margin: 0;
	padding: 10px;
	color: #ffffff;
}
#featured h2{
	background-color: black;
}
#latest h2{
	background-color: darkred;
}
#our-picks h2{
	background-color: darkblue;
}
#featured{
	flex: 5;
    
}
#latest,#our-picks{
	flex: 1;
}
#popular-news img{
	width: 100%;
	filter: brightness(0.7);
	transition-duration: 600ms;
}
.carousel, .news-container{
	position: relative;
    text-shadow: 1px 2px 2px #000000, 1px 1px 1px #000000, 1px 1px 1px #131313;
    
    
}
.carousel-text{
	position: absolute;
	word-wrap: normal;
	bottom: 5px;
	z-index: 2;
	color: #000000;
	font-size: 28px;
	font-weight: bolder;
	padding: 0 10px;
	transition-duration: 500ms;
    background-color: #000000
}
.news-container .carousel-text{
	font-size: 28px;
    background-color: #000000;

}
.carousel-date{
	display: block;
	text-align: center;
	font-size: 14px;
	color: rgba(255,255,255,0.7);
	font-weight: 300;
}
section{
	cursor: pointer;
}
.news-container:hover > .carousel-text{
	bottom: 10px;
    background-color: #000000;
}
.news-container:hover > img{
	filter: brightness(0.4);
}
.more-news{
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	padding: 30px 95px;
	justify-content: space-between;
	color: #fff;
}
.news-section{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 70%;
	justify-content: space-between;
}
.world h2{	
	background-color: #5f9092;
    padding: 10px;
}
.sport h2{
	background-color: #565ea7;
}


.world h2, .sport h2{
    margin: 10px 0 0 0;
	padding: 0 10px;
}

.more-news img{
	width: 100%;
	height: 250px;
}
.world,.sport{
	flex-basis: 45%;
}
aside{
	width: 90%;
	padding: 10px;
	flex-basis: 25%;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: auto 0;
}
p{
	text-align: justify;
}
.recent-news{
	display: flex;
}
.recent-news img{
	width: 70px;
	height: 70px; 
	margin: 10px;
}
.recent-news p{
	font-size: 14px;
	font-weight: bold;
	margin: auto;
}
.social-links{
	display: flex;
	flex-wrap: wrap;
	padding: 4.5%;
	justify-content: space-between;
    color: #000000;
}
.social-links section{
	flex-basis: 30%;
}
.social-icons-footer i{
	font-size: 37px;
	padding: 5px;
}
.instagram img{
	padding: 5px;
}
.footer-buttons{
	display: block;
	border: 1px solid #000000;
	color: #000000;
	font-size: 14px;
	font-weight: bolder;
	background-color: white;
	margin: 20px auto;
	padding: 10px 20px;
	cursor: pointer;
}
.footer-buttons:hover{
	color: #fff;
	border: 1px solid #ffffff;
	background-color: #000000;
}
.copyright{
	width: 100%;
	background-color: black;
	color: #fff;
	padding: 5px;
	text-align: center;
}
@media only screen and (max-width: 600px) {
	.breaking-news-section{	
		padding: 10px;
		flex-wrap: wrap;
	}
	#featured{
		flex: auto;
	}	
	.news-section, aside, .news-section article,.social-links section{
		flex-basis: 100%;		
	}
	aside{
		border-width: 0;
	}
	.social-links section{
		margin-top: 20px;
	}
	.website-header img{
		width: 35px;
		height: 35px;
		padding: 5px;
	}
	.website-header h1{
		font-size: 15px;
	}
	.social-icons{
		flex-basis: 100%;
	}
	.navbar-collapse{
		background-color: black;
		z-index: 16;
	}
	.navbar-toggler-icon{
		background-image: url(images/menu.jpg);
		z-index: 16;
	}
}